.spaceFiller {
    flex: 0.9 1 auto;
}
a {
    margin-left: 5px;
    margin-bottom: 5px;
}
.spaceFillerSide {
    flex: 0.1 1 auto;
}
.navtoolbar {
    background-color: black;
    box-shadow: 0px 1px 0px #00fffc;
    margin-bottom: 1px;
    z-index: 1000;
}

.mat-button {
    background-color: black;
    color: white;
}
.mat-button:hover {
    color: #00fffc;
    background-color: black;
    transform: scale(1.1);
    transition: 0.5s all;
}

.icon-button {
    max-width: 50px;
    margin-right: 10px;
}
.mainLogo {
    max-width: 200px;
}

/* .mainLogo:hover {
    max-width: 200px;
    background-image: url('../../assets/hover-logo.png')
} */