<div style="z-index: 9999;">
  <mat-toolbar class="navtoolbar" layout-align="center center">
    <mat-toolbar-row>
      <div>
        <a [routerLink]="['/home']" routerLinkActive>
          <img class="mainLogo" [src]="imgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
        </a>
      </div>
      <div fxShow="true">
        <a [routerLink]="['/home']" [routerLinkActive]="['activeRoute']" mat-button>Home</a>
        <a [routerLink]="['/careers']" [routerLinkActive]="['activeRoute']" mat-button>Careers</a>
        <a [routerLink]="['/contact']" [routerLinkActive]="['activeRoute']" mat-button>Contact</a>
      </div>
      <a mat-button *ngIf="isAdmin()" (click)="toggleAdminNav()">Admin</a>
      <span class="spaceFiller"></span>
      <div fxShow="true">
        <a *ngIf="isAuth()" [routerLink]="['/']" mat-button>Welcome, {{ loggedUser?.firstName }} {{ loggedUser?.lastName}}</a>
        <a *ngIf="isAuth()" (click)="logout()" [routerLink]="['/']" mat-button>Logout</a>
        <a *ngIf="!isAuth()" [routerLink]="['/auth/login']" mat-button>Login</a>
        <a *ngIf="!isAuth()" [routerLink]="['/auth/register']" mat-button>Register</a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row [ngClass]="'adminNav'" *ngIf="adminNavVisible" fxLayout="row" fxLayoutAlign="center center">
      <div fxShow="true">
        <a [routerLink]="['/admin/users']" [routerLinkActive]="['activeRoute']" mat-button>Users</a>
        <a [routerLink]="['/admin/careers']" [routerLinkActive]="['activeRoute']" mat-button>Jobs</a>
        <a [routerLink]="['/admin/links']" [routerLinkActive]="['activeRoute']" mat-button>Links</a>
        <a [routerLink]="['/admin/contacts']" [routerLinkActive]="['activeRoute']" mat-button>Contacts</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
