<div class="container" >
    <div class="map-container">

    </div>
    <div class="contactsList" *ngFor="let contact of contacts">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>{{primaryAddress.icon}}</mat-icon> {{primaryAddress.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            {{primaryAddress.value}}
            {{primaryAddress.longtitude}}, {{primaryAddress.latitude}}
            <mat-checkbox></mat-checkbox>
        </mat-expansion-panel>
    </div>
</div>