.map {
  color: #00FFFF;
  border: 6px solid #00a4a2;
  box-shadow: 0 0 15px #00fffd;
}

.contact {
    border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
}

.contactHeader {
    color: white;
    box-shadow: 0 0 15px #00fffd;
}

.primaryAddress {
    margin-right: 10px;
}

h2 {
    font-size: 30px;
    color: #00a4a2;
    text-transform: uppercase;
    text-shadow: 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd;
}