<h1 class="header">Open Positions</h1>
<div fxLayout="row">
  <div fxLayout="column" fxFlex="60%" class="content">
    <div class="container">
      <div class="noData" *ngIf="filteredJobs.length === 0">
        <p>There are no open positions - please try later.</p>
      </div>
      <div *ngIf="filteredJobs.length > 0">
        <mat-list *ngFor="let job of filteredJobs">
          <stark-careers-view [job]="job"></stark-careers-view>
          <br>
        </mat-list>
      </div>
    </div>
  </div>
  <div fxFlex="15%"></div>
  <div fxLayout="column" fxLayoutAlign="start center" class="content" fxFlex="25%">

    <mat-form-field>
      <label for="keyword">Filter by keyword</label>
      <input matInput id="keyword" [(ngModel)]="search" (keyup)="filterBySearch()">
    </mat-form-field>

    <mat-form-field>
      <label for="jobType">Filter by keyword</label>
      <mat-select matInput (change)="onChange()" [(ngModel)]="byType" id="jobType">
        <mat-option value="{{category.type}}" *ngFor="let category of jobCategories">{{category.type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <label for="dateFilter">Date filter</label>
      <input matInput id="dateFilter" [matDatepicker]="myDatepicker" name="date" [(ngModel)]="date" (dateChange)="dateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <div class="row offset-8 resetFilters">
      <button (click)="clearFilter()" mat-icon-button>Reset</button>
    </div>
  </div>
</div>
<mat-paginator *ngIf="paginatedJobs?.length > 10" (onChangePage)="onChangePage($event)" [length]="length" [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
