/* .header {
  margin-top: 20px;
  color: black;
} */

.job-title {
  color: black;
  border: 1px solid black;
  padding: 20px;
  border-radius: 4px;
}

.form {
  color: black;
  border: 2px solid black;
  padding: 20px;
  border-radius: 4px;
  background-color: black;
  margin-top: 20px;
}

md-input-container .md-input {
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(254, 253, 103, 0.82);
}
mat-paginator.mat-paginator-container {
  background-color: red !important;
}


form {
  /* border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd; */
  border-radius: 5px;
  display: inline-block;
  /* height: 220px; */
  margin: auto;
  position: relative;
  z-index: 4;
  width: 500px;
  /* margin-top: 20px; */
}

button.mat-button {
  background: #222;
  /* background: linear-gradient(#333333, #222222); */
  box-sizing: content-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 250px;
  transition: 0.5s all;
}

button.mat-button:disabled {
  background-color: darkgray;
  color: lightgray;
}

.alert {
  background-color: red;
  color: white;
  padding: 10px 10px;
}

::ng-deep .mat-input-element,
.mat-input-infix,
.mat-form-field-lable,
.mat-input-placeholder,
.mat-focused,
.mat-input-ripple {
  color: #00a4a2;
}

::ng-deep .mat-input-underline.mat-form-field-underline {
  color: #00a4a2;
  background-color: #00a4a2;
}

::ng-deep .mat-input-underline.mat-form-field-underline:focus {
  color: #00fffd;
  background-color: #00fffd;
}

::ng-deep .mat-input-underline.mat-form-field-underline:active {
  color: #00fffd;
}

mat-form-field.mat-form-field input, mat-form-field.mat-form-field textarea {
  margin-top: 5px;
}

div.mat-select div.mat-form-field-infix label {
    margin-bottom: 5px;
}

mat-form-field.mat-form-field {
  font-size: 17px;
  color: #00a4a2;
  /* padding: 10px; */
}
/* .contact {
    border: 6px solid #00a4a2;
    box-shadow: 0 0 15px #00fffd;
} */

.contactHeader {
    color: white;
    box-shadow: 0 0 15px #00fffd;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #00fffd;
}

mat-hint.mat-hint {
    color: #00a4a2;
}

::ng-deep div.mat-select-arrow {
    color: #00a4a2 !important;
}
::ng-deep div.mat-list-item-content{
  color: #00a4a2;
}
/* ::ng-deep div.mat-list-item-content{
  border: 1px solid #00fffd;
  border-radius: 4px;
} */
::ng-deep mat-list{
  border: 1px solid #00a4a2 !important;
  border-radius: 4px;
  margin-top: 30px;
}

.noData {
    /* background-color: white; */
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 17px;
  }

  h2 {
    font-size: 30px;
    color: #00a4a2;
    text-transform: uppercase;
    text-shadow: 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd, 0 0 5px #00fffd;
}
