doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    form(action='/login', method='post')
      div
        label Username:
        input(type='text', name='username')
      div
        label Password:
        input(type='password', name='password')
      div
        input(type='submit', value='Log In')
    | Register
    form(action='/register', method='post')
        div
            label FirstName:
            input(type='text', name='firstName')
        div
            label LastName:
            input(type='text', name='lastName')
        div
            label Username:
            input(type='text', name='userName')
        div
            label email:
            input(type='email', name='email')
        div
            label role:
            input(type='text', name='role')
        div
            label Password:
            input(type='password', name='password')
        div
            input(type='submit', value='Log In')
