<div class="container">
  <div id="logo">
    <h1>
      <i> STARK INDUSTRIES</i>
    </h1>
  </div>
  <section class="stark-login">

    <form #f="ngForm" (ngSubmit)="login(f.value)">
      <div id="fade-box">
        <input type="text" name="userName" id="userName" placeholder="Username" required ngModel>
        <input type="password" name="password" placeholder="Password" required ngModel>

        <button>Log In</button>
      </div>
    </form>
  </section>

  <div id="circle1">
    <div id="inner-cirlce1">
      <h2> </h2>
    </div>
</div>
