<div class="container">
  <div id="logo">
    <h1>
      <i> STARK INDUSTRIES</i>
    </h1>
  </div>
  <section class="stark-login">

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div id="fade-box">
        <input type="text" id="userName" placeholder="Username" formControlName="userName">
        <!-- <div style='color:#ff7355' *ngIf="loginForm.get('userName').touched && loginForm.get('userName').hasError('required')">
          Username must not be empty
        </div> -->
        <input type="password" placeholder="Password" formControlName="password">
        <!-- <div style='color:#ff7355' *ngIf="loginFrom.get('password').touched && loginForm.get('password').hasError('required')">
          Password must not be empty
        </div> -->
        <mat-checkbox color="warn" [checked]="rememberMe" (change)="rememberMe = !rememberMe">Remember Me?</mat-checkbox>
        <button [disabled]="!loginForm.valid">Log In</button>
      </div>
    </form>
  </section>
  <div id="circle1">
    <div id="inner-cirlce1">
      <h2> </h2>
    </div>
</div>
