<div class="container">
  <div id="logo">
    <h1>
      <i> STARK INDUSTRIES</i>
    </h1>
  </div>
  <section class="stark-login">
    <form [formGroup]="registrationForm" (ngSubmit)="register(registrationForm.value)">
      <div id="fade-box">
        <input type="text" id="username" maxlength="10" placeholder="Username" required [formControl]="registrationForm.controls['userName']">
        <input type="text" placeholder="First Name" required [formControl]="registrationForm.controls['firstName']">
        <input type="text" placeholder="Last Name" required [formControl]="registrationForm.controls['lastName']">
        <input type="text" placeholder="E-mail" required [formControl]="registrationForm.controls['email']" [pattern]="emailPattern">
        <div *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].hasError('maxlength')">
          Maximum of 1024 characters
        </div>
        <div *ngIf="email.hasError('email')">INCORRECT EMAIL</div>
        <input type="password" placeholder="Password" required [formControl]="registrationForm.controls['password']" [pattern]="passwordPattern">
        <div *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].hasError('maxlength')">
          Maximum of 256 characters
        </div>
        <div *ngIf="password.hasError('pattern')">
          Password must contain upperase,digit,special symbols
        </div>
        <input type="password" placeholder="Confirm Password" required [formControl]="registrationForm.controls['confirmPassword']">
        <div style='color:#ff7355' *ngIf="registrationForm.get(['password']).value != registrationForm.get(['confirmPassword']).value && registrationForm.get(['confirm_password']).value != null">
            Password does not match</div>
        <button type="submit">Register</button>
      </div>
    </form>
  </section>

  <div id="circle1">
    <div id="inner-cirlce1">
      <h2> </h2>
    </div>
  </div>
</div>
