<div class="container">
  <div id="logo">
    <h1>
      <i> STARK INDUSTRIES</i>
    </h1>
  </div>
  <section class="stark-login">
    <form [formGroup]="registrationForm" (ngSubmit)="register(registrationForm.value)">
      <div id="fade-box">
        <input type="text" id="username" maxlength="10" placeholder="Username" formControlName="userName">
        <input type="text" placeholder="First Name" formControlName="firstName">
        <input type="text" placeholder="Last Name" formControlName="lastName">
        <input type="text" placeholder="E-mail" formControlName="email">
        <div style='color:#ff7355' *ngIf="registrationForm.get('email').touched && registrationForm.get('email').hasError('maxlength')">
          Maximum of 1024 characters
        </div>
        <div style='color:#ff7355' *ngIf="registrationForm.get('email').dirty && registrationForm.get('email').hasError('email')">INCORRECT EMAIL</div>
        <input type="password" placeholder="Password" formControlName="password">
        <div style='color:#ff7355' *ngIf="registrationForm.get('password').dirty && registrationForm.get('password').hasError('maxlength')">
          Maximum of 256 characters
        </div>
        <div style='color:#ff7355' *ngIf="registrationForm.get('password').dirty && registrationForm.get('password').hasError('pattern')">
          Not Valid Password
        </div>
        <!-- <div *ngIf="password.hasError('pattern')">
          Password must contain upperase,digit,special symbols
        </div> -->
        <input type="password" placeholder="Confirm Password"  formControlName="confirmPassword">
        <div style='color:#ff7355' *ngIf="registrationForm.get('password').value != registrationForm.get('confirmPassword').value && registrationForm.get('confirmPassword').value != null">
            Password does not match</div>
        <button mat-button [disabled]="!registrationForm.valid" type="submit">Register</button>
      </div>  
    </form>
  </section>

  <div id="circle1">
    <div id="inner-cirlce1">
      <h2> </h2>
    </div>
  </div>
</div>
