/* * {
    box-sizing: border-box;
} */

header {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  display: flex;
}

.video-header {
  /* margin-top: -15px; */
  display: flex;
  z-index: 0;
  align-items: center;
  color: white;
  width: 99.5vw;
  height: auto;
  position: absolute;
  overflow-x: hidden;
}

.video-wrap {
  width: 99.5%;
  overflow: hidden;
  object-fit: cover;
  height: 75vh;
}

.video-wrap video {
  min-width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.content {
    /* opacity: 1 !important; */
  /* max-width: 960px; */
  /* padding-left: 1rem; */
  z-index: 10000;
  /* background-color: black; */
  color: #00fffc;
  opacity: 1;
  position: absolute;
  /* display: flex; */
  width: 98vw;
  height: 75vh;
  overflow-x: hidden;
}
.linkButtons {
    left: 15%;
    bottom: 20%;
    position: absolute;
    /* background: none; */
}

.linkButtons button{
    background-color: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}
.linkButtons button:hover{
    color: #00fffc;
    background-color: none;
    transform: scale(1.1);
    transition: 0.5s all;
}
.overlay {
  z-index: 10000;
  background-color: black;
  color: #00fffc;
  opacity: 0.6;
  position: absolute;
  /* display: flex; */
  width: 99vw;
  height: 75vh;
  overflow-x: hidden;
  /* margin-top: -10px; */
}

#logo {
  animation: logo-entry 0.8s ease-in;
  width: 30vw;
  margin: 0 auto;
  position: relative;
  z-index: 40;
  opacity: 1;
}

h1 {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  color: #00a4a2;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  margin: auto;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  top: 30px;
  margin-top: 15px;
}

h1:before {
  animation: before-glow 2s ease-out infinite alternate;
  border-left: 535px solid transparent;
  border-bottom: 10px solid #00a4a2;
  content: ' ';
  height: 0;
  position: absolute;
  right: -74px;
  top: -10px;
  width: 0;
  margin-right: 11px;
}

h1:after {
  animation: after-glow 2s ease-out infinite alternate;
  border-left: 100px solid transparent;
  border-top: 16px solid #00a4a2;
  content: ' ';
  height: 0;
  position: absolute;
  right: -85px;
  top: 24px;
  transform: rotate(-47deg);
  width: 0;
  margin-right: 12px;
}

@keyframes before-glow {
  0% {
    border-bottom: 10px solid #00a4a2;
  }
  100% {
    border-bottom: 10px solid #00fffc;
  }
}

@keyframes after-glow {
  0% {
    border-top: 16px solid #00a4a2;
  }
  100% {
    border-top: 16px solid #00fffc;
  }
}

@keyframes logo-entry {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-glow {
  0% {
    color: #00a4a2;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  }
  100% {
    color: #00fffc;
    text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 #000;
  }
}
