<form [formGroup]="applicationForm" (ngSubmit)="apply(applicationForm.value)" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <input matInput placeholder="First name" value="{{firstName}}" [formControl]="applicationForm.controls['firstName']">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" value="{{lastName}}" [formControl]="applicationForm.controls['lastName']">
  </mat-form-field>
  <mat-form-field fxFlex class="form-item" hintLabel="Max 1024 characters" requiered>
    <textarea matInput #textarea maxlength="1024" placeholder="Comment" [formControl]="applicationForm.controls['comment']"></textarea>
    <mat-hint align="end">{{textarea.value?.length || 0}}/1024</mat-hint>
  </mat-form-field>
  <input mat-button placeholder="CV" type="file" name="cv" (change)="onUpload($event)" #cv accept=".pdf,.doc,.docx">
  <input mat-button placeholder="Cover Letter" name="coverLetter" (change)="onUpload($event)" #coverLetter type="file" accept=".pdf,.doc,.docx">
  <button mat-button type="submit">Apply</button>
</form>
