<div class="container">
  <h2>Users</h2>
  <div class="table-container mat-elevation-z8">
    <div [ngClass]="'noData'" *ngIf="users.length === 0">
      <p>No Data Available, yet!</p>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="name">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'idContainer'"> User Id </mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'idContainer'"> {{user?.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} {{user?.lastName}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> <a href="mailto:{{user.email}}"> {{user?.email}} </a></mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Registered </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.createdAt | date: "fullDate"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="applicationsCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'applicationsContainer'">Applications </mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'idContainer'"> {{user.applicationsCount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roleId">
        <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'idContainer'"> Role </mat-header-cell>
        <mat-cell *matCellDef="let user" [ngClass]="'idContainer'"> {{Roles[user.roleId]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div [ngClass]="'tableFooter'" *ngIf="dataSource">
      <div [ngClass]="'searchFilter'" *ngIf="users.length > 1">
        <mat-form-field>
          <input matInput (keyup)="searchTable($event.target.value)" placeholder="Search the table">
        </mat-form-field>
      </div>
      <div [ngClass]="'paginator'">
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" *ngIf="users.length > 10">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
